
@{
    ViewData["Title"] = "ShowAll";
    //
}

<div class="menu-header">
    <h3>
        Math
    </h3>
</div>

<div class="main-menu">
    
    <div class="link-box">
        <a asp-route="calculate-function-example" class="menu-link">Calculate function</a>
    </div>
</div>
